%h1{:style => 'margin-bottom:0px;'} Drug Sensitivities / Allergies
%small (List food / drug / latex / other alleriges)
%ul{:style => 'margin-top:20px'}
  %li{:style => 'display:inline;'} 
    %input{:type => 'checkbox'} No Known Drug Allergies
  %li{:style => 'display:inline;'}
    %input{:type => 'checkbox'} Unable to assess; reason
%table
  %tr
    %th Drug/Substance
    %th Reaction if known
  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'text', :style => 'width: 275px'}
  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'text', :style => 'width: 275px'}        
  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'text', :style => 'width: 275px'}      

  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'text', :style => 'width: 275px'}
  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'text', :style => 'width: 275px'}        
  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'text', :style => 'width: 275px'}      