%h1 Family History
%br
%input{:type => 'checkbox'} Unable to assess;
reason
%input{:type => 'text', :style => 'width:240px;'}
%hr
%table
  %tr
    %td{:style => 'vertical-align:top;'} Psyschiatric
    %td 
      %textarea{:style => 'height:40px; width:490px'}
  %tr
    %td{:style => 'vertical-align:top;'} 
      Medical
    %td 
      %textarea{:style => 'height:40px; width:490px'}
