.grid_16
  %p Welcome to BeHave
  %ul
    %li
      %a{:href => '/ia'} Initial Assessment (Mockup)

    %li
      %a{:href => '/clinical'} Clinical Assessment (Mockup)

    %li
      %a{:href => '/bhx'} Background Assessment (Mockup)

    %li
      %a{:href => '/pra'} Psychiatric Risk Assessment (Mockup)

    %li
      %a{:href => '/ros'} Review of Systems (Mockup)

    %li
      %a{:href => '/pe'} Physical Exam (Mockup)

    %li
      %a{:href => '/mse'} Mental Health Exam (Mockup)

    %li
      %a{:href => '/da'} Developmental Assessment (Mockup)

    %li
      %a{:href => '/ag'} Axis and GAF Assessment (Mockup)

    %li
      %a{:href => '/plan'} Plan (Mockup)

    %li
      %a{:href => '/diabetes'} Diabetes Assessment (Mockup)

    %li
      %a{:href => '/fa'} Functional Assessment (Mockup)

    %li
      %a{:href => '/fra'} Fall Risk Assessment (Mockup)

