.grid_16
  %p Welcome to BeHave
  %ul
    %li
      %a{:href => '/ia'} Initial Assessment (Mockup)

    %li
      %a{:href => '/mse'} Mental Health Exam (Mockup)

    %li
      %a{:href => '/fra'} Fall Risk Assessment (Mockup)

