%h1{:style => 'margin-bottom:0px;'} Current Medications
%small (including Herbal Supplements and Over the Counter)
%hr
%label Source
%ul
  %li{:style => 'display:inline'}
    %input{:type => 'radio'} Patient
  %li{:style => 'display:inline'} 
    %input{:type => 'radio'} Family/CareGiver
  %li{:style => 'display:inline'}
    %input{:type => 'radio'} Pharmacy
  %li{:style => 'display:inline'} 
    %input{:type => 'radio'} Other
  %li{:style => 'display:inline'} 
    %input{:type => 'radio'} Home Meds stored on Unit
%table
  %tr
    %td Name
    %td 
      %input{:type => 'text'}
    %td Phone
    %td
      %input{:type => 'text'}
    
%table
  %tr
    %th Medication
    %th Dose
    %th Freq
    %th Route
    %th Last Dose
    %th Comments
  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 60px'}
    %td 
      %input{:type => 'text', :style => 'width: 275px'}

  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 60px'}
    %td 
      %input{:type => 'text', :style => 'width: 275px'}

  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 60px'}
    %td 
      %input{:type => 'text', :style => 'width: 275px'}

  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 60px'}
    %td 
      %input{:type => 'text', :style => 'width: 275px'}
  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 60px'}
    %td 
      %input{:type => 'text', :style => 'width: 275px'}

  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 60px'}
    %td 
      %input{:type => 'text', :style => 'width: 275px'}


  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 60px'}
    %td 
      %input{:type => 'text', :style => 'width: 275px'}

  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 60px'}
    %td 
      %input{:type => 'text', :style => 'width: 275px'}

  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 60px'}
    %td 
      %input{:type => 'text', :style => 'width: 275px'}

  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 20px'}
    %td 
      %input{:type => 'text', :style => 'width: 60px'}
    %td 
      %input{:type => 'text', :style => 'width: 275px'}
      
%hr
%input{:type => 'submit', :value => "Add Additional Medications"}
%nbsp
%input{:type => 'submit', :value => "Request Medication Reconciliation"}

