%h1 Psychiatric Risk Assessment (Cont)
%table
  %tr
    %th VIOLENCE
    %th Yes
    %th No
    %th UNK
    %th Comments
  %tr
    %td{:style => 'vertical-align:top;'} History of Violence
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      
  %tr
    %td{:style => 'vertical-align:top;'} Current Agitation
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      

  %tr
    %td{:style => 'vertical-align:top;'} History of Impulsivity
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      

  %tr
    %td{:style => 'vertical-align:top;'} History of Violence in Hospital
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      

  %tr
    %th TRAUMA
    %th Yes
    %th No
    %th UNK
    %th Comments
  %tr
    %td{:style => 'vertical-align:top;'} Physical / Domestic Abuse
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      
  %tr
    %td{:style => 'vertical-align:top;'} Sexual Abuse
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      

  %tr
    %td{:style => 'vertical-align:top;'} Neglect
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      

  %tr
    %td{:style => 'vertical-align:top;'} Violent Crime
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      

  %tr
    %td{:style => 'vertical-align:top;'} Emotional Abuse
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      

  %tr
    %td{:style => 'vertical-align:top;'} Trauma in Hospital
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      

  %tr
    %td{:style => 'vertical-align:top;'} Authorities Notified
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      

