%h1 Psychiatric Risk Assessment
%table
  %tr
    %th ELOPEMENT
    %th Yes
    %th No
    %th UNK
    %th Comments
  %tr
    %td{:style => 'vertical-align:top;'} Intent/Wish
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      
  %tr
    %td{:style => 'vertical-align:top;'} History
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      

  %tr
    %th SUICIDE
    %th Yes
    %th No
    %th UNK
    %th Comments
  %tr
    %td{:style => 'vertical-align:top;'} Passive Ideas
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      
  %tr
    %td{:style => 'vertical-align:top;'} Active Plan or Intent
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      

  %tr
    %td{:style => 'vertical-align:top;'} Current Means
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      

  %tr
    %td{:style => 'vertical-align:top;'} Past Attempts
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      

  %tr
    %td{:style => 'vertical-align:top;'} Prior Attempt
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      

  %tr
    %td{:style => 'vertical-align:top;'} Family History
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      

  %tr
    %td{:style => 'vertical-align:top;'} Access to Firearm
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      

  %tr
    %td{:style => 'vertical-align:top;'} Instructed to remove weapon
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'} 
      %input{:type => 'radio'}
    %td{:style => 'vertical-align:top;'}  
      %input{:type => 'radio'}
    %td 
      %textarea{:style => 'height:40px; width:290px'}      
      