%h1 Substance Abuse History
%br
%table
  %tr
    %th
      Smoker
    %td
      %input{ :type => 'radio' } Yes
    %td
      %input{ :type => 'radio' } No
    %td
      %input{ :type => 'radio' } Stopped
    %th Quit Date
    %td
      %input{ :type => 'text' } 
    %th # Pack Years
    %td
      %input{ :type => 'text' } 
    

%table
  %tr
    %th Is there a history of Delirium Tremens during alchol withdrawal?
    %td 
      %input{:type => 'radio'} Yes
    %td 
      %input{:type => 'radio'} No
  %tr
    %th Is there a history of seizure during alcohol withdrawal?
    %td 
      %input{:type => 'radio'} Yes
    %td 
      %input{:type => 'radio'} No
    
%table
  %tr
    %th Substance
    %th Recent 
    %th Historical
    %th Last Used
    %th Start Age
    %th Withdrawal Symptoms
  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'radio'} 
    %td
      %input{:type => 'radio'} 
    %td
      %input{:type => 'text'}
    %td
      %input{:type => 'text', :style => 'width:40px;'}
    %td
      %input{:type => 'text', :style => 'width:220px;'}

  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'radio'} 
    %td
      %input{:type => 'radio'} 
    %td
      %input{:type => 'text'}
    %td
      %input{:type => 'text', :style => 'width:40px;'}
    %td
      %input{:type => 'text', :style => 'width:220px;'}

  %tr
    %td 
      %input{:type => 'text'}
    %td 
      %input{:type => 'radio'} 
    %td
      %input{:type => 'radio'} 
    %td
      %input{:type => 'text'}
    %td
      %input{:type => 'text', :style => 'width:40px;'}
    %td
      %input{:type => 'text', :style => 'width:220px;'}
      
      
      
      
    
      
