%h1 Social History
%br
%input{:type => 'checkbox'} Unable to assess;
reason
%input{:type => 'text', :style => 'width:240px;'}
%hr
%table
  %tr
    %td{:style => 'vertical-align:top;'} Developmental/Education:
    %td 
      %textarea{:style => 'height:40px; width:490px'}
  %tr
    %td{:style => 'vertical-align:top;'} 
      Key Relationships
      %br
      Living Situation
    %td 
      %textarea{:style => 'height:40px; width:490px'}
  %tr
    %td{:style => 'vertical-align:top;'} 
      Sexual History
    %td 
      %textarea{:style => 'height:40px; width:490px'}      
  
  %tr
    %td{:style => 'vertical-align:top;'} 
      Employment
      %br
      Hazardous Exposures
    %td 
      %textarea{:style => 'height:40px; width:490px'}      

  %tr
    %td{:style => 'vertical-align:top;'} 
      Legal
    %td 
      %textarea{:style => 'height:40px; width:490px'}      

  %tr
    %td{:style => 'vertical-align:top;'} 
      Military
    %td 
      %textarea{:style => 'height:40px; width:490px'}      
      
      