#header{
  background: #4C4C4C;
  color:#E6E6E6;
}

#wrap{
  margin-bottom:20px;
}
#footer{
  margin-top:20px;

  color:#4C4C4C;
}

th {
  text-align: left; 
  padding:3px;
}

td {
  padding:3px;
}

textarea {
  width: 400px;
  height: 150px;
}

ul {
  list-style: none;
}